<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@using FarmApplication.Areas.Identity.Data

@inject SignInManager<FarmApplicationDBUser> SignInManager
@inject UserManager<FarmApplicationDBUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmApplication</title>
    <!-- you can download a theme from bootswatch to a file and set the location below to that file to change theme of the applciation -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmApplication.styles.css" asp-append-version="true" />
    <!-- there is a list of icons contained in this style sheet on https://www.w3schools.com/icons/icons_reference.asp 
        they seem to display a few pnts higher on the line then the text for each page
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
   <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3 flex-column">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FarmApplication</a>
                <!-- note - the navbar toggle option does not obscure page content, it will add a scroll if needs be-->
                <!-- this should diable user access to the nav bar if they arent logged in (prevent them from accessing pages) -->
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav">
                            <!-- could maybe make this an overview page instead and have the home page to be something else -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                    <span class="material-icons">home</span> &ensp;My Farm
                                </a>
                            </li>
                            <!-- this page should allow the user to have full control over adding or editing the amount of resources avaliable
                            here they should be able to select how many workers they have, robots, stock, etc... 
                            using the data entered they should be allowed to allocate an amount of resources to each field when creating a task for the field
                            I want it so that once a task has completed that equipment/ employee resources are returned but stock isn't
                            -->
                            <!-- Bug notice: you cant access resources or fields while you have the other page open,
                                 i think it checks the current directory its in for the folder and cant find it.
                                 Fix - use href instead
                            -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" a href="~/Resources/ResourceIndex">
                                    <span class="material-icons">equalizer</span> &ensp;Manage Resources
                                </a>
                            </li>
                            <!-- links to the Fields folder Index page. Allows for the creation of fields by adding a name and size.-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" a href="~/Fields/Index">
                                    <span class="material-icons">trending_up</span> &ensp; Fields
                                </a>
                            </li>
                            <!-- note there isnt a calendar or settings page currently -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Calendar">
                                    <span class="material-icons">insert_invitation</span> &ensp;Calendar
                                </a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Settings">
                                    <span class="material-icons">build</span> &ensp;Settings
                                </a>
							</li>-->
                            <!-- Will prob change this to just link to the log in page, but actually need a method to log them out -->
                            <!--
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Identity/Account/Login">
                                    <span class="material-icons">exit_to_app</span> &ensp;Logout
                                </a>
                            </li>
                            -->
                            <!-- this will display a button to edit account detials and a logout feature -->
                            <li class="nav-item">
                                <partial name="_LoginPartial.cshtml" />
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>

    <!-- 
        
    old nav bar code if you want a more simple look or to try make it vertical
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FarmApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="Fields/Index">Fields</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Calender">Calender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Settings">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    -->




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FarmApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>