@page
@model FarmApplication.Pages.CalendarModel

<div class="text-center">
	<h1 class="accordion-body">Calendar page</h1>
	<p> This page should show a timetable like thing with a clock that shows when activities in different fields are happening</p>
	<p> Sort of like the timetable on blackboard </p>
</div>
