@page
@model FarmApplication.Pages.CalendarModel

<div class="text-center">
	<h1 class="accordion-body">Calendar page</h1>
	<p> This page should show a timetable like thing with a clock that shows when activities in different fields are happening</p>
	<p> Sort of like the timetable on blackboard, should also display the resources being used </p>

	<div class="row pt-4">		
		<div class="col-6 text-end">
			<a asp-page="CreateTask" class="btn btn-primary">
				Create new Task
			</a>
		</div>
	</div>
</div>
