@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the farm application!</h1>
    <p>I think we should make this like a clear overview page to view resources, summary of tasks, farm information (such as a map), etc...</p>
</div>
