@page
@model FarmApplication.Pages.LogInModel

<div class="text-center">
	<h1 class="accordion-body">Log In page</h1>
	<p>Placeholder page for the moment, shouldn't be able to see the navigation bar</p>
</div>
