@page
@model FarmApplication.Pages.SettingsModel


<div class="text-center">
	<h1 class="accordion-body">Settings Page</h1>
	<p>I havent done anything yet for this page, should just be a menu that will affect stuff elsewhere</p>
</div>
