@page
@model FarmApplication.Pages.Fields.IndexModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Field List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="AddField" class="btn btn-primary">
				Create new field
			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Field name
				</th>
				<th>
					Field size
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Fields)
			{
				<tr>
					<td width="50%">@obj.FieldName</td>
					<td width="30%">@obj.FieldSize</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="EditField" asp-route-id="@obj.FieldID" class="btn btn-primary mx-2">Edit
						</a>
						<a asp-page="DeleteField" asp-route-id="@obj.FieldID" class="btn btn-danger mx-2">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
